/* Definindo uma regra geral para todos os elementos */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilizando o corpo da página */
body {
    background-color: #ff0000;
    margin: 0;
}
footer {
    background-color: #ffea00;
    text-align: center;
    position: absolute;
    width: 100%;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 15px;
    border: none;
  }
 h1{
    padding: 15px 50px;
    margin: .25rem 0;
    font-size: 20px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 1rem;
 } 
  /* Estilizando a área de conteúdo principal (content) */
.content {
    width: 100%;
    padding: 1rem;
    background-image: url('https://st2.depositphotos.com/3213441/12022/v/600/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg');
    
    /* background-color: #ffffff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra sutil */
}

/* Estilos específicos para telas maiores (992px ou mais) */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
        height: auto; /* Removi a definição de altura fixa */
    }
}






